[Unit]
Description=The monitor for uptime server
After=syslog.target network-online.target remote-fs.target nss-lookup.target mu\
lti-user.service
Wants=network-online.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/opencv
ExecStart=/usr/bin/python /home/pi/opencv/detectFacesEyes.py
StandardInput=tty-force

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
