{% extends "layout.html" %}
{% block content %}
<h1>List AWS Colelctions</h1>
<div>
  <a href="collection-new">New</a>
  <ul class="collection with-header">
    {% for collection_id in collections %}
    <li class="collection-item" style="padding:10px;">
      <a href="collection-one" style="display:inline-block">{{ collection_id }}</a> 
      <form action=collection-delete method=post style="display:inline-block">
        <input type=hidden id=collection_id name=collection_id value={{ collection_id }}>
        <input type=submit value="Delete">
      </form>
    </li>
    {% endfor %}
  </ul>
  <p>Total: {{ total }}</p>
  
</div>
{% endblock content %}
    
    
